body {
  font-family: Arial;
  background: #323232;
  color: #929292;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
}

canvas {
  background: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  width: 100% !important ;
  height: 300px !important;
}

.full-width {
  grid-column: span 2;
}
